<div class="list-group-item-heading row"
  {{bind-attr data-content=pkg.description title=pkg.name}}
     data-toggle="popover" data-trigger="hover" data-placement="top">

  <div class="col-sm-4 clickable" {{action 'toggleCollapse'}}
       title="Click to show/hide the details" data-placement="bottom">
    <h4>
      {{#if repo.iconUrl}}
        {{img-wrap src=repo.iconUrl class='repo-icon'}}
      {{/if}}
      {{title}}
    </h4>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-5">
        <small class="label label-primary">
          {{pkg.latestVersion}}
        </small>
        &nbsp;
        <small>
          updated {{ago pkg.updatedAt}}
        </small>
      </div>
      <div class="col-xs-7">
        <small>
          {{#if tags.length}}
            tags:
            {{#each tag in tags}}
              <span class="label label-default">{{tag}}</span>
            {{/each}}
          {{else}}
            no tag
          {{/if}}
        </small>
      </div>
    </div>
  </div>

  <div class="col-sm-2 text-right">
    {{#if downloadsCount}}
      <span class="badge" title="Total downloads" data-placement="bottom">
        {{downloadsCount}} <i class="glyphicon glyphicon-download-alt text-download"></i>
      </span>
    {{/if}}
    {{#if starsCount}}
      <span class="badge" title="Total stargazers" data-placement="bottom">
        {{starsCount}} <i class="glyphicon glyphicon-star text-star"></i>
      </span>
    {{/if}}
    <span class="badge">
    {{#if bestUrl}}
      <a title="Go to website"
         data-placement="bottom"
         target="_blank" {{bind-attr href=bestUrl}}>
        <i class="glyphicon glyphicon-new-window"></i>
      </a>
    {{/if}}
      {{#if repo.newIssueUrl}}
        <a title="Report an issues or ask for a feature"
           data-placement="bottom"
           target="_blank" {{bind-attr href=repo.newIssueUrl}}>
          <i class="glyphicon glyphicon-warning-sign"></i>
        </a>
      {{/if}}
    </span>
  </div>

</div>{{! /row }}

{{#unless isCollapsed}}
  <p class="list-group-item-text">

  {{#bs-panel title='Description'}}
    {{markdown-section content=pkg.description}}
  {{/bs-panel}}

  {{#bs-panel title='README'}}
    {{#if pkg.readme}}
      {{markdown-section content=pkg.readme}}
    {{else}}
      <p class="text-warning">No README for this package</p>
    {{/if}}
  {{/bs-panel}}

  </p>
{{/unless}}
