<div class="jumbotron">
  {{!img-wrap src="/assets/images/ember-logo.png" alt="EmberJS logo" class="pull-right"}}
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="pull-right" role="form">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="PPJNXKNMS6HUG">
    <input type="hidden" name="on0" value="Buy me">
    <input type="hidden" name="on1" value="Message">
    <input type="hidden" name="currency_code" value="USD">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1"
         height="1">

    <div class="text-center">
      {{img-wrap src='/assets/images/beer.png' class='img-beer'}}
    </div>

    <div class="form-group">
      <label for="paypal-select">
        Buy me...
      </label>
      <select id="paypal-select" name="os0" class="form-control input-sm">
        <option value="a beer">a beer $5.00 USD</option>
        <option value="a good meal" selected="selected">a good meal $15.00 USD</option>
        <option value="2 good meals">2 good meals $30.00 USD</option>
        <option value="meals and beers">meals and beers $50.00 USD</option>
        <option value="a lot of stuff">a lot of stuff $100.00 USD</option>
        <option value="a smartphone">a smartphone $500.00 USD</option>
      </select>

      <input id="paypal-message" type="text" name="os1" maxlength="200"
             class="form-control input-sm" placeholder="Optional message">
    </div>

    <button class="btn btn-block btn-warning input-sm" type="submit" name="submit">
      donate with {{img-wrap src='/assets/images/paypal-logo.png' class='paypal-logo'}}
    </button>
  </form>


  <h1>My EmberJS addons</h1>

  <p>
    Here is a list of my {{repos.length}} EmberJS addons. They're automatically fetched from my
    GitHub profile so the list is always up to date.
  </p>

  <p>
    While I also have contributed to some other addons, the ones listed above are only those I
    created on my own.
  </p>
</div>

<div class="list-group">
  <div class="list-group-item">
    <div class="row">
      <div class="col-sm-6">
        {{#sort-by value=repoSortingDesc key='emberCleanedName'}}sort by name{{/sort-by}}
      </div>
      <div class="col-sm-3">
        {{#sort-by value=repoSortingDesc key='npmPackage.updatedAt' desc=true}}
          last update
        {{/sort-by}}
      </div>
      <div class="col-sm-3 text-right">
        {{#sort-by value=repoSortingDesc key='npmPackage.downloadsTotal' desc=true}}
          downloads
        {{/sort-by}}
        | {{#sort-by value=repoSortingDesc key='stargazersCount' desc=true}}stars{{/sort-by}}
      </div>
    </div>
  </div>
  {{#each repo in sortedRepos itemController=repoItemController}}
    {{npm-package
    pkg=repo.npmPackage
    repo=repo
    name=repo.name
    isntCollapsed=repo.isHighlighted
    ignoreTags='ember-addon'
    wrapTitleFor='ember'
    collapse='packageCollapsed'
    expand='packageExpanded'}}
  {{else}}
    <div class="list-group-item list-group-item-warning">
      Fetching addons from my GitHub, please wait...
    </div>
  {{/each}}
</div>
